# Practical 5C

This practical is related to Example 1(b).
<br> Use the functions developed in Practical 5B to create the PCA results table, scree plot, loading plot and score plot.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
from sklearn.decomposition import PCA
from sklearn import preprocessing

print("pandas version: {}".format(pd.__version__))
print("seaborn version: {}".format(sns.__version__))
print("numpy version: {}".format(np.__version__))

pandas version: 1.0.3
seaborn version: 0.10.0
numpy version: 1.18.1

In [2]:
data = pd.read_csv("Chp5Eg1.csv")
data.head()

,Social Class/ No. of children,Bread,Vegetables,Fruit,Meat,Poultry,Milk,Wine
0,B2,332,428,354,1437,526,247,427
1,W2,293,559,388,1527,567,239,258
2,U2,372,767,562,1948,927,235,433
3,B3,406,563,341,1507,544,324,407
4,W3,386,608,396,1501,558,319,363

In [3]:
data_reduced = data.drop(['Social Class/ No. of children'], axis=1)
data_reduced.head()

   Bread  Vegetables  Fruit  Meat  Poultry  Milk  Wine
0    332         428    354  1437      526   247   427
1    293         559    388  1527      567   239   258
2    372         767    562  1948      927   235   433
3    406         563    341  1507      544   324   407
4    386         608    396  1501      558   319   363

In [4]:
pca = PCA(n_components=7).fit(data_reduced)
#Note that pca.transform() returns scores based on centred data
pca_samples = pca.transform(data_reduced)

## Task 1
Obtain the PCA results table.

## Task 2
Obtain the screen plot.

## Task 3
Obtain the loading plot.

## Task 4
Obtain the score plot.